<h1> BUFY </h1>
<body class=" w-auto bg-slate-200 dark:bg-[#2b2c36]">
<div class="grid content-center w-full">
      <div class="grid gap-x-[4vw] h-auto w-[70%] h-inherit grid-cols-3 content-center bg-slate-400 dark:bg-[#393a47] p-[4vw] rounded-xl place-self-center">
            <img class="place-self-center w-[15vw] " src="https://i.redd.it/vg4a3kage7e61.png"/>
            <button class="place-self-center bg-[#2b2c36] w-[12vw] h-[6vw] rounded-xl text-[#d3d3db] font-semibold" >Bufy bu button</button>
            <img class="place-self-center w-[15vw]" src="https://assets3.thrillist.com/v1/image/2444654/1140x760/scale;webp=auto;jpeg_quality=60.jpg"/>
      </div>
</div>
</body>