<h1> BUFY </h1>
<div class="grid gap-x-[3rem] h-auto w-auto grid-cols-3 content-center">
      <img class="w-[10rem] " src="https://i.redd.it/vg4a3kage7e61.png"/>
      <button class="bg-slate-700 w-[10rem] h-[4rem] rounded-xl" >Bufy bu button</button>
      <img class="w-[10rem]" src="https://assets3.thrillist.com/v1/image/2444654/1140x760/scale;webp=auto;jpeg_quality=60.jpg"/>
</div>